.single-user{
   display: flex;
   justify-content: space-between;
   margin-bottom: 25px;
}
.user{
   display: flex;
   align-items: center;
}
.avatar{
   margin-right: 15px;
}

.widget-small{
   padding: 10px;
}
.widget-big{
   padding: 10px;
}
.account-details{
   display: flex;
   margin-top: 15px;
}
.account-details-icon{
   margin-right: 5px;
}